.chart-grouped(id="{{ :: $ctrl.meta.name }}",
                      ng-class="{ 'chart--rendered': $ctrl.rendered >= $ctrl.fleetCharts.length }")
  h3.chart-grouped__heading(sticky="") {{ :: $ctrl.meta.name | translate }}
  .chart-grouped__chart(ng-repeat="chart in $ctrl.fleetCharts")
    .card
      h4.chart-grouped__chart__heading.card-block {{ :: chart.fleet.name }}
      .chart-grouped__chart__c3
        c3chart(bindto-id="chart-{{ :: chart.id }}", transition-duration="0")
          chart-column(column-id="x",
                       column-values="{{ :: chart.columnsStr }}")
          chart-column(column-id="{{ :: chart.id }}",
                       column-values="{{ :: chart.valuesStr }}",
                       column-type="bar")
          chart-bar(ratio="0.8")
          chart-colors(color-function="chart.colorsFn")
          selection(enabled="false")
          chart-legend(show-legend="false")
          chart-tooltip(show-tooltip="false")
          chart-grid(show-y="true")
          chart-axes(values-x="x")
          chart-events(on-rendered="$ctrl.rendered = $ctrl.rendered + 1")
          chart-axis
            chart-axis-x-tick(tick-outer="false")
            chart-axis-x(axis-position="outer-center",
                         axis-type="category")
